:root {
  --accent-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --mine-header-text-color: #212121;
  --second-header-text-color: #757575;
  --mine-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #2196f3;
  --button-second-text-color: #ffffff;
  --button-first-text-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*-----------HEADER-----------*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}
.header-logo-accent {
  color: var(--accent-logo-color);
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mine-header-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/*-----------HERO-----------*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mine-title-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-second-text-color);
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}
/*-----------QALITY-----------*/
.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
}
.quality-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*-----------WORKS-----------*/
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
/*-----------TEAM-----------*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*-----------FOOTER-----------*/
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-logo-color);
}
.footer-logo-accent {
  color: var(--accent-logo-color);
}
.footer-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/*-----------PORTFOLIO PAGE-----------*/
/*-----------PORTFOLIO BTN-----------*/
.portfolio-filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-first-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
}
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: var(--button-second-text-color);
  background-color: var(--button-color);
}
/*-----------PORTFOLIO WORKS-----------*/
.portfolio-work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.portfolio-work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
